@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Noto Sans KR", "Segoe UI", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
}
